.navbar__main {
    display: flex;
    background: white;
    height: 57px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    justify-content: space-around;
    padding: 0 20px;
    align-items: center;
    z-index: 1;
}

.navbar__logo {
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
}

.navbar__main__end {
    width: 750px;
    flex-wrap: wrap;
    padding: 0 0 0 130px;
}

@media (max-width: 975px){
    .navbar__main__end {
        width: 50px;
        flex-wrap: wrap;
    }
}