.container__card {
    display: inline-block;
    margin: 10px;
}

.container__courses {
    display: flex;
    align-items: center;
}

.container__cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px 0 50px;
}

.container__provider{
    display: flex;
    align-items: center;
    flex-direction: column;
}