.container__card {
    display: inline-block;
    margin: 10px 5px 10px 5px;
}

.container__courses {
    display: flex;
    align-items: center;
}

.container__cards {
    display: flex;
    flex-wrap: wrap;
}

.container__provider{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title__courses {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: rgb(170, 181, 180);
    padding-left: 8px; 
}

.container__courses1 {
    padding: 0 70px 0 70px;
}