ul {
    display: inline-block;
}

.menu__main__items {
    padding: 15px;
    display: inline;
    color: #67676a;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding-right: 25px;
}