.menu__items {
    color: white;
    padding: 15px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    padding-right: 12px;
    padding-left: 12px;
}